html {
    scroll-behavior: smooth;
  }

.jumbotron{
    text-align: center;
    font-family: monaco,Consolas,Lucida Console,monospace;
    background-image: url(8bit2-edit.png);
    background-size: cover;
    height: 660px;
}


.jumbotron .btn{
    border: none;
    border-radius: 25px;
    padding-right: 25px;
    padding-left: 25px; 
    font-family: monaco,Consolas,Lucida Console,monospace;  
}

h2{
    text-align: center;
    font-family: monaco,Consolas,Lucida Console,monospace;
    font-weight: bold;
}

.navbar{
    font-family: monaco,Consolas,Lucida Console,monospace;
}

img{
    margin: 0px 90px;
    border-radius: 50%;
}

.biodata{
    margin-top: 35px;
    margin-left: 55px;
    margin: 50px;
}

p{
    
    font-size: 28px;
    text-align: center;
    font-family: monaco,Consolas,Lucida Console,monospace;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
    height: 40px;
    width: 36px;
    border-radius: 50%;
  }

.fa-youtube {
    background: #bb0000;
    color: white;
    height: 43px;
    width: 43px;
    border-radius: 50%;
  }  

hr{
    border: 1px solid black;
}

